@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
body{
   font: 400 16px / 1.5 'Roboto', Helvetica, sans-serif;
   user-select: none;
}

.intro{
    background: #174e70;
    color: #f3e9e0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: #333333;
    color: #e8f2f1;
    text-transform: capitalize;
    height: 40px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;   
    line-height: 40px;
    list-style: none;

}
.container, #container{
    max-width: 60%;
    border: 1px solid black;
    border-radius: 10px;
}
#header,.header{
    background: #174e70;
    color: #f3e9e0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.personal,.country{
    display: flex;
    padding: 20px;
}
.personal p{
    text-align: justify;
    margin: 10px;
}
#country{
    text-align: center;
font-family: Arial, Helvetica, sans-serif;    font-size: large;
    text-transform: capitalize;
}
hr{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    margin-left: 20px;
    width: 30%;
}
#content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#content ul {
    padding: 20px;
}
main{
    display: flex;
    padding: 20px;
    justify-content: center;
}
.footer{
    background: #174e70;
    color: whitesmoke;
    height: 100px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav li a:hover{
    text-decoration: underline;
}

nav a{
    color:#e8f2f1;
    text-decoration: none;
}
.hr{
    display: flex;
    align-items: center;
    justify-content: center;
}