*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    background: #3c0a64;
    color: #ffffff;
    display: flex;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.home_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grouped{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    padding: 20px;
}
.small_ul{
    list-style: none;
    display: none;
    background: #ffffff;
    position: fixed;

}
.hamburger .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}